

.page_load{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;

}

.load-text{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 10px;
}
.logo_load2{
    font-size: 33px;
    padding-top: 30px;
    letter-spacing: 7px;



}
.logo_load{
    font-size: 60px;
    color: #FFFFFF;
    font-weight: 400;
    letter-spacing: 20px;
    font-family: 'Lemon/Milk [RUS by Daymarius]';
    margin-left: 25px;

}

.load-bar img{
   width: 100px;
    height: 12px;
    margin-top: 200px;

}

@media (max-width: 1440px) {
    .logo_load {
        font-size: 63px;
    }

    .logo_load2 {
        font-size: 35px;
        margin-right: 15px;
    }
    .load-bar img{
        width: 200px;
        height: auto;
        margin-top: 300px;
    }
    .load-text{
        padding-top: 200px;
        margin-left: 30px;
    }
}

@media (max-width: 1280px) {
    .logo_load {
        font-size: 63px;
        margin-left: -5px;
    }

    .logo_load2 {
        font-size: 35px;
    }
    .load-bar img{
        width: 100px;
        height: auto;
        margin-top: 200px;
    }
    .load-text{
        padding-top: 150px;

    }
}




@media screen and (max-width: 500px) {
    .logo_load{
        font-size: 30px;
        margin-top: -80px;
        margin-left: 25px;

    }
    .logo_load2{
        font-size: 15px;
        margin-left: 15px;
    }
    .load-text{
        margin-left: 12px;
    }

    .load-bar img{

        margin-top: 150px;
    }
}

@media  (max-width: 375px) {
    .logo_load{
        font-size: 30px;
        letter-spacing: 15px;
        margin-left: 16px;

    }
    .logo_load2{
        font-size: 14px;
        letter-spacing: 5px;
        margin-left: 10px;

    }


    /*.load-text{*/
    /*    margin-left: 15px;*/
    /*}*/
}










